body
  font-family Roboto
  font-weight 100
  background-color #212223
  color #ffffff
  height: 100%;

html
.wrapper
  height: 100%;

.content
  box-sizing: border-box;
  min-height: 100%;
  padding-bottom: 75px;

p
ul
li
  margin 0

h3
h2
h1
  font-size 1.7em
  font-weight 100
  text-transform uppercase
  padding-top 1.3em

h1
  font-size 2.5em

h3
  font-size 1.2em

font-size 2.5em
.clearfix:before
.clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.clearfix
  zoom 1
