list-icon(n)
  float left
  width n
  height n

list-text()
  display table-cell
  vertical-align middle
  width: 100%;

list-item(n)
  display table
  padding-bottom n

link()
  text-transform uppercase
  text-decoration none
  text-align center
  color #ffffff
  width 100%;
  &:hover
    color #ffffff